{
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "angular"
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "angular",
                "generateNotes": true
            }
        ],
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md"
                ]
            }
        ],
        "@semantic-release/npm",
        {
            "npmPublish": false
        }
    ],
    "branches": [
        "master",
        "release"
    ]
}