name: TEST

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Emit repository dispatch event
        run: |
          curl -X POST https://api.github.com/repos/ironsource-mobile/fusion-actions/dispatches \
          -H 'Accept: application/vnd.github.everest-preview+json' \
          -u ${{secrets.PAT_USERNAME}}:${{secrets.PAT_TOKEN}} \
          --data '{"event_type": "ping"}'

#      - name: Emit repository dispatch event
#        run: |
#          curl -X POST https://api.github.com/repos/ironsource-mobile/fusion-actions/dispatches \
#          -H 'Accept: application/vnd.github.everest-preview+json' \
#          -u ${{secrets.PAT_USERNAME}}:${{secrets.PAT_TOKEN}} \
#          --data '{"event_type": "ping"}'
